*{
    margin: 0;
    padding: 0;
}

body {
    background: black;
    display: flex;
    justify-content: center;
}

canvas {
    background: white;
    margin-top: 55px;
}

.nav{
    width: 310px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: #EF626C;
}
.clr:nth-child(3){
    background-color: #fdec03;
}
.clr:nth-child(4){
    background-color: #24d102;
}
.clr:nth-child(5){
    background-color: #fff;
}

.share-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 94, 142, 0.5)
}
.share-modal.visible {
    visibility: visible;
}
.share-modal__content {
    background: #fff;
    padding: .6em 1em;
    border-radius: 3px;
}
.share-modal__copy-box {
    margin-top: 1em;
    resize: none;
    width: 100%;
}

.loader {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(54, 94, 142, 0.5)
}
.loader.visible {
    visibility: visible;
}
.loader__content {
    background: #fff;
    padding: .6em 1em;
    border-radius: 3px;
}

button{
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-color: #03bb56;
    color: #fff;
    cursor: pointer;
}
.save{
    background-color: #0f65d4;
}
.share{
    background-color: #d40fcd;
}
.close{
    background-color: #d40f12;
}
.copy{
    background-color: #33d40f;
}